<h1>Salve {{ authUser?.username }} ({{ authUser?.ruolo }})</h1>

<div>
  <h3>{{ hide ? "*******" : authUser?.password }}</h3>

  <button
    mat-icon-button
    matTooltip="{{ hide ? 'reveal' : 'hide' }}"
    (click)="hide = !hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
</div>

@if(authUser?.nomePenna){
<div>{{ authUser?.nomePenna }}</div>
}
<button mat-raised-button type="button" (click)="logout()">Logout</button>

<div>
  <button mat-raised-button [routerLink]="'authusers'">list users</button>
  <button mat-raised-button [routerLink]="'mynews'">list news</button>
</div>

<router-outlet></router-outlet>
